* {
	margin: 0 auto;
	box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 100%;
}

.wrapper {
    width: 100%;
}

.main__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1160px;
    width: 100%;
    height: 100%;
    padding: 0 1.25em; /*20px / 16px*/

	@include desktop-small {
		padding: 0 1.875em; /*30px / 16px*/
	}
}

.main__wrap-inner {
    width: 100%; 
    height: 29.6875em; /*475px*/

    @include tablet {
        height: 35.9375em; /*575px*/
    }

    @include desktop-small {
        height: 56.25em; /*900px*/
    }

    @include desktop {
        height: 74.625em; /*1194px*/
    }
}