@media (min-width: 327px) and (max-width: 348px) {
	.camera__item {
		width: 94px;
		height: 72px;
	}
}

@media (min-width: 349px) and (max-width: 380px) {
	.camera__item {
		margin-right: 5%;
		width: 99px;
	}
}

@media (min-width: 380px) and (max-width: 450px) {
	.map__image--gorilla {
		top: 68%;
	}

	.map__tooltip-pointer--gorilla {
		top: 75%;
	}

	.map__tooltip--gorilla {
		top: calc(75% + 5px);
	}

	.aside {
		top: 16.9em;
	}

	.camera__video {
		min-height: 188px;
	}

	.camera__list {
		width: 410px;
	}

	.camera__item {
		margin-right: 5%;
		width: 115px;
		height: 80px;
	}

    .main__wrap-inner {
        height: 35em;
    }

    .animal-info__heading {
        margin-top: -3.5em;
    }
}

@media (min-width: 451px) and (max-width: 550px) {
	.map__image--gorilla {
		top: 72%;
	}

	.map__image--alligator {
		top: 59%;
	}

	.map__tooltip-pointer--gorilla {
		top: 78%;
	}

	.map__tooltip--gorilla {
		top: calc(78% + 5px);
	}

	.map__tooltip-pointer--alligator {
		top: 63%;
	}

	.map__tooltip--alligator {
		top: calc(63% + 5px);
	}

	.aside {
		top: 18em;
	}

	.camera__video {
		min-height: 208px;
	}

	.camera__list {
		width: 510px;
	}

	.camera__item {
		margin-right: 5%;
		width: 142px;
		height: 85px;
	}

    .main__wrap-inner {
        height: 35em;
    }

    .animal-info__heading {
        margin-top: -2.5em;
    }

    .animal-info__image {
        height: 15.1875em; /*243px / 16px*/
    }
}

@media (min-width: 551px) and (max-width: 640px) {
	.map__image--gorilla {
		top: 75%;
	}

	.map__image--alligator {
		top: 60%;
	}

	.map__tooltip-pointer--gorilla {
		top: 82%;
	}

	.map__tooltip--gorilla {
		top: calc(82% + 5px);
		left: 45%;
	}

	.map__tooltip-pointer--alligator {
		top: 64%;
	}

	.map__tooltip--alligator {
		top: calc(64% + 5px);
	}

	.aside {
		top: 20.5em;
	}

	.camera__video {
		min-height: 248px;
	}

	.camera__list {
		width: 600px;
	}

	.camera__item {
		margin-right: 5%;
		width: 165px;
		height: 105px;
	}

    .main__wrap-inner {
        height: 35em;
    }

    .animal-info__heading {
        margin: .5em auto .416666em 3.125em;
        font-size: 2em;
    }

    .animal-info__image {
        height: 17.6875em; /*283px*/
    }
}

@media (min-width: 741px) and (max-width: 820px) {
	.map__image--gorilla {
		top: 71%;
	}

	.map__tooltip-pointer--gorilla {
		top: 77%;
	}

	.map__tooltip--gorilla {
		top: calc(77% + 5px);
		left: 45%;
	}
}

@media (min-width: 821px) and (max-width: 900px) {
	.map__image--gorilla {
		top: 73%;
	}

	.map__tooltip-pointer--gorilla {
		top: 79%;
	}

	.map__tooltip--gorilla {
		top: calc(79% + 5px);
		left: 45%;
	}
}

@media (min-width: 901px) and (max-width: 999px) {
	.map__image--gorilla {
		top: 76%;
	}

	.map__image--alligator {
		top: 61%;
	}

	.map__tooltip-pointer--gorilla {
		top:82%;
	}

	.map__tooltip--gorilla {
		top: calc(82% + 5px);
		left: 45%;
	}

	.map__tooltip-pointer--alligator {
		top: 64%;
	}

	.map__tooltip--alligator {
		top: calc(64% + 5px);
	}

    .animal-info__short {
        flex-direction: row;
    }

    .animal-info__image {
        margin-left: 1.25em; /*20px*/
    }

    .animal-info__content {
        width: 57%;
        padding-top: 0;
    }
}

@media (min-width: 1001px) and (max-width: 1165px) {
	.map__image--gorilla {
		top: 69%;
	}
}

@media (min-width: 1166px) and (max-width: 1599px) {
	.map__image--gorilla {
		top: 71%;
	}

	.map__tooltip-pointer--gorilla {
		top: 76%;
	}

	.map__tooltip--gorilla {
		top: calc(76% + 5px);
		left: 45%;
	}
}

@media (min-width: 400px) and (max-width: 640px) { 
	.pets__cards {
		justify-content: center;
	}

	.pets__card {
	   margin-right: .625em; /*10px / 16px*/
	}

	img {
		margin-top: -16%;
	}
}

@media (max-width: 415px) {
	.map__tooltip--panda,
	.map__tooltip--pandas {
		left: auto;
		right: 5%;
	}
}

@media (min-width: 733px) and (max-width: 939px) { 
	.pets__cards {
		width: 90%;
		justify-content: space-around;
	}
 
}

@media (min-width: 1000px) and (max-width: 1149px) { 
	.pets__card-image {
		height: 100%;
	}
	
	.pets__card-body--herbivorous::after,
	.pets__card-body--carnivorous::after {
		top: 8%;
		right: 3%;
	}
}

@media (min-width: 1150px) and (max-width: 1599px) {
	.pets__card {
		max-width: 350px;
	}

	.feed__container-inner {
		max-width: 1160px;
		width: 100%;
	}

	.testimonials__slider {
		max-width: 1160px;
		width: 100%;
	}

	.testimonials__slide-border {
		width: 268px;
		margin-right: 2.5%;
	}

	.testimonials__slide {
		min-width: 262px;
		padding: .9375em .9375em 1.1875em; /*15px / 16px; 19px / 16px*/
	}

	.testimonials__text {
		min-width: 237px;
	}

	.testimonials__button {
		margin-left: 0;
	}

    .animal-info__content {
        margin-right: 0;

        @include weigth-size-line-color(500, 1.181818em, 140%, #ABABAB); /*26px / 22px*/
    }
}

@media (max-height: 530px) {
	.feedback {
		top: 0;
	}
}

@media (min-width: 1210px) {
    .animal-info__image {
        margin-left: 0;
    }

    .animal-info__full {
        padding: 0;
    }

    .animal-info__read-button {
        margin-left: 0;
    }
}