@media (min-width: 380px) and (max-width: 450px) {
    .map__image--gorilla {
        top: 68%;
    }
}

@media (min-width: 451px) and (max-width: 550px) {
    .map__image--gorilla {
        top: 72%;
    }
}

@media (min-width: 551px) and (max-width: 639px) {
    .map__image--gorilla {
        top: 75%;
    }
}

@media (min-width: 741px) and (max-width: 820px) {
    .map__image--gorilla {
        top: 71%;
    }
}

@media (min-width: 821px) and (max-width: 900px) {
    .map__image--gorilla {
        top: 73%;
    }
}

@media (min-width: 901px) and (max-width: 999px) {
    .map__image--gorilla {
        top: 76%;
    }
}

@media (min-width: 1001px) and (max-width: 1165px) {
    .map__image--gorilla {
        top: 69%;
    }
}

@media (min-width: 1166px) {
    .map__image--gorilla {
        top: 71%;
    }
}

@media (min-width: 400px) and (max-width: 640px) { 
	.pets__cards {
		justify-content: center;
	}

	.pets__card {
	   margin-right: .625em; /*10px / 16px*/
	}

	img {
		margin-top: -16%;
	}
}

@media (max-width: 415px) {
    .map__tooltip {
        // left: calc(100% - 168px);
        left: auto;
        right: 5%;
    }
}

@media (min-width: 733px) and (max-width: 939px) { 
	.pets__cards {
		width: 90%;
		justify-content: space-around;
	}
 
}

@media (min-width: 1000px) and (max-width: 1149px) { 
    .pets__card-image {
        height: 100%;
    }
    
    .pets__card-body--herbivorous::after,
    .pets__card-body--carnivorous::after {
        top: 8%;
        right: 3%;
    }
}

@media (min-width: 1150px) and (max-width: 1599px) {
	.pets__card {
		max-width: 350px;
	}

	.feed__container-inner {
		max-width: 1160px;
		width: 100%;
	}

	.testimonials__slider {
		max-width: 1160px;
		width: 100%;
	}

	.testimonials__slide-border {
		width: 268px;
		margin-right: 2.5%;
	}

	.testimonials__slide {
		min-width: 262px;
		padding: .9375em .9375em 1.1875em; /*15px / 16px; 19px / 16px*/
	}

	.testimonials__text {
		min-width: 237px;
	}

	.testimonials__button {
		margin-left: 0;
	}
}

@media (max-height: 530px) {
    .feedback {
        top: 0;
    }
}