//colors
$orange-color: #f9804B;
$orange-light: #fe9013;
$white-frosted-color: #fdfdff;
$white: #ffffff;
$yellow: #ffee2e;
$orange-gradient: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
$black-blue: #333b41;
$green: #4b9200;
$black: #000000;
$black-grey: #333b41;
$grey: #c4c4c4;
$red: #d31414;
$multi-color-gradient: linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);

// max sizes of screens
$screen-mobile: 320px;
$screen-tablet: 640px;
$screen-desktop-small: 1000px;
$screen-desktop: 1600px;