.animal-online {
	height: 11.6875em; /*187px / 16px*/

	background: url("../assets/images/giant-panda.jpg") 100% 50% no-repeat;
	background-size: cover;
	background-color: $orange-light;

	@include tablet {
		height: 21.1875em; /*339px / 16px*/
	}

	@include desktop-small {
		height: 31.5em; /*504px / 16px*/
	}

	@include desktop {
		height: 43.75em; /*700px / 16px*/
	}

	&__container {
		max-width: 1160px;
		width: 100%;
		height: 100%;
	}

	&__container--inner {
		position: relative;
		
		display: flex;
		width: 90%;
		height: 100%;
		
		@include tablet {
			margin-left: 1.25em; /*20px / 16px*/
		}
	}

	&__title {
		z-index: 3;
		position: absolute;
		top: 1.375em; /*22px / 16px*/
		right: 0;
	
		@include weigth-size-line-color(bold, 1.75em, 75%, $white); /*28px / 16px*/
		text-align: center;
		text-transform: uppercase;

		width: 4.571428em; /*128px / 28px*/
		height: 3.642857em; /*102px / 28px*/

		@include tablet {
			top: .888888em; /*48px / 54px*/

			width: 4.722em; /*255px / 54px*/
			height: 3.796em; /*205px / 54px*/

			font-size: 3.375em; /*54px / 16px*/
		}

		@include desktop-small {
			top: .494117em; /*42px / 85px*/

			width: 4.705882em; /*400px / 85px*/
			height: 3.764705em; /*320px / 85px*/

			font-size: 5.3125em; /*85px / 16px*/
		}

		@include desktop {
			top: .839622em; /*89px / 106px*/
			right: -.933962em; /*99px / 106px*/

			width: 4.716981em; /*500px / 106px*/
			height: 3.773584em; /*400px / 106px*/

			font-size: 6.625em; /*106px / 16px*/
		}
	}

	&__title::before {
		content: "";
		z-index: -1;
		position: absolute;
		top: -.678571em; /*19px / 28px*/
		left: -.678571em; /*19px / 28px*/

		width: 4.25em; /*119px / 28px*/
		height: 4.25em; /*119px / 28px*/

		background: $orange-gradient;
		border-radius: 50%;

		@include tablet {
			top: -.888888em; /*48px / 54px*/

			width: 4.388888em; /*237px / 54px*/
			height: 4.388888em; /*237px / 54px*/
		}

		@include desktop-small {
			top: -.623529; /*53px / 85px*/

			width: 4.317647em; /*367px / 85px*/
			height: 4.317647em; /*367px / 85px*/
		}

		@include desktop {
			top: -.726415em; /*77px / 106px*/
			right: 70.7547%; /*75px / 106px*/

			width: 4.386792em; /* 465px / 106px*/
			height: 4.386792em; /* 465px / 106px*/
		}
	}

	&__title > span {
		color: $yellow;
	}

	&__button {
		z-index: 2;
		position: absolute;
		top: 12.9375em; /*207px / 16px*/
		left: calc(50% - 298px/2);
	
		width: 18.625em; /*298px / 16px*/
		height: 3.375em; /*54px / 16px*/
		padding: 1em 0;
	
		@include weigth-size-line-color(500, 1em, 140%, $white); /*16px*/
		text-align: center;
		text-transform: uppercase;
	
		background: $orange-gradient;
		border-radius: 1.5625em; /*25px / 16px*/

		&:hover {
			transform: scale(1.02);
		}

		&:active {
			background: $green;
		}

		@include tablet {
			top: 15.3125em; /*245px / 16px*/
			left: 0; 
		}

		@include desktop-small {
			top: 25.1875em;  /*403px / 16px*/
			left: 67%;
		}

		@include desktop {
			top: 34.125em;  /*546px / 16px*/
			left: 71%;
		}
	}
}