.footer {
    position: relative;

    background-color: #111115;

    &__container {
        display: flex;
		flex-direction: column;
        align-items: center;
		max-width: 1160px;
		width: 100%;
		height: 100%;
        padding: 1.25em 0 1.875em; /*20px / 16px; 30px / 16px*/

        @include tablet {
            width: 93.75%;
            padding: .75em 0; /*12px / 16px*/
        }

        @include desktop-small {
            padding: 2.5em 0 3.125em; /*40px / 16px; 50px / 16px*/
        }
    }

    &__wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

        @include tablet {
            align-items: flex-start;
        }
    }

    &__wrap--top {
        @include tablet {
            display: flex;
            justify-content: space-between;
            width: 100%;
            margin-bottom: 2em; /*32px / 16px*/
        }
    }

    &__logo {
        position: relative;
        width: 8em; /*128px / 16px*/
    
        margin: 0 auto;
    
        @include tablet {
            width: 5.125em; /*82px / 16px*/
			height: 3.25em; /*52px / 16px*/
            margin: 0;
        }
    }
    
    &__logo-link > h2 {
        box-sizing: border-box;
    
        margin: 0;
    
        @include weigth-size-line-color(400, 1.1875em, 120%, $white); /*19px / 16px*/
        text-align: center;
    
        @include tablet {
            padding: .25em 0 .125em; /*4px 2px*/
            border: .125em solid $white; /*2px*/
        }
    } 
      
    &__logo-link::before {
        content: '';
    
        position: absolute;
        top: -9%;
        left: 57%;
    
        @include tablet {
            left: 11.8%;
            top: 42.3%;
        }
        
        width: .751875em; /*12.03px / 16px*/
        height: 1.31125em; /*20.98px / 16px*/
     
        background-image: url("../assets/icons/bamboo-logo-icon.svg");
        background-repeat: no-repeat;
    }

    /*===form===*/
    
    &__form-container {
        display: flex;
        flex-direction: column;
        margin-top: 5.75em; /*92px / 16px*/
    
        @include tablet {
            display: none;
        }
        
        @include desktop-small {
            display: flex;
            width: 22.875em; /*366px / 16px*/
            margin: 0;
        }
    }
    
    &__form-title {
        margin-bottom: .875em; /*14px / 16px*/
    
        @include weigth-size-line-color(400, 1em, 140%, $white); /*16px*/
    
        @include desktop-small {
            font-size: 1.5em; /*24px/ 16px*/
            margin-left: 0;
        }
    }
    
    &__form {
        display: flex;
        flex-direction: column;
        width: 14.25em; /*228px / 16px*/
        
        @include desktop-small {
            flex-direction: row;
            width: 22.875em; /*366px / 16px*/
        }
    }
    
    &__form-email {
        width: 14.25em; /*228px / 16px*/
        height: 2.625em; /*42px / 16px*/
        padding: .625em; /*10px / 16px*/
        margin-right: .625em; /*10px / 16px*/
    
        color: #BDBDBD;

        background-color: transparent;
        border: .0625em solid $orange-color; /*1px / 16px*/
        outline: none;
    }
    
    &__form-email::placeholder {
        @include weigth-size-line-color(400, 1em, 140%, #BDBDBD);
    }

    &__form-email:focus {
        border: .0625em solid $green;
    }

    &__form-email:invalid:not(:placeholder-shown) {
        border-color: $red;
        color: $red;
    }
    
    &__form-email:valid:not(:placeholder-shown) {
        border-color: $green;
        color: $green;
    }
      
    &__form-btn {
        box-sizing: border-box;
    
        width: 8.0625em; /*129px / 16px*/;
        height: 2.625em; /*42px / 16px*/;
        margin: .625em auto 2.5em; /*10px 40px*/
       
        color: #000000;

        background: #f1f3f2;
        border: .0625em solid #333b41; /*1px*/
        border-radius: .3125em; /*5px / 16px*/;
        outline: none;
    
        @include desktop-small {
            margin: 0;
        }
    }

    &__form-btn:hover {
        border: .0625em solid #4b9200; /*1px*/
        color: #4b9200;
    }
      
    &__form-btn:active {
        border: .0625em solid #3b7201; /*1px*/
        color: #3b7201;
    }

    &__form-email:invalid:not(:placeholder-shown) + &__form-btn{
        border: .0625em solid $red;
        color: $red;
    }
    
    &__form-email:valid:not(:placeholder-shown) + &__form-btn {
        border: .0625em solid $green;
        color: $green;
    }
    
    &__btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 18.625em; /*298px/ 16px*/
        height: 3.375em; /*54px / 16px*/
        padding: 0;
        margin: 0 auto 2.75em; /*44px*/
        
        background-color: transparent;
        background: $orange-gradient;
        border-radius: .3125em; /*5px / 16px*/;
        border: none;
    
        cursor: pointer;
    
        &:hover {
            transform: scale(1.02);
        }
    
        &:active {
            background: $green;
        }
    
        @include tablet {
            margin-left: 0;
            margin-bottom: 6.0625em; /*97px / 16px*/
        }

        @include desktop-small {
            margin-bottom: 3.0625em; /*49px / 16px*/
        }
    }
    
    &__btn > a {
        @include weigth-size-line-color(500, 1em, 140%, $white);
        text-align: center;
        text-transform: uppercase;
    } 
    
    &__wrap--bottom {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    
        @include tablet {
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-end;
            width: 100%;
        }
    }

    /*===social-list===*/

    &__social-list {
        position: absolute;
        top: 14%;
        left: calc(50% - 26px/2 - 84px);
        display: flex;
        margin: 0;
        padding: 0;
    
        @include tablet {
            top: 13%;
            left: 97%;
            display: flex;
            flex-direction: column;
            
            width: 0;
        }
    
        @include desktop-small {
            position: static;
            width: 1.625em; /*26px / 16px*/
            margin-left: 1.625em; /*26px / 16px*/
        }
    }
    
    &__social-item {
        height: 1.625em; /*26px / 16px*/
        margin-left: 1.875em; /*30px / 16px*/
    
        list-style-type: none;
    
        @include tablet {
            // width: 0;
            margin-left: auto;
            margin-bottom: 1.25em; /*20px / 16px*/
        }

        @include desktop-small {
            width: min-content;
        }
    }
    
    &__social-item:last-child {
        margin-bottom: 0;
    }
    
    &__social-link {
        position: relative;
        margin-right: 1.875em; /*30px / 16px*/

        @include tablet {
            position: absolute;
        }

        @include desktop-small {
            margin-right: 0;
        }
    }
    
    &__social-text {
        display: none;
    
        @include weigth-size-line-color(400, 1em, 140%, $white);
    
        @include desktop-small {
            display: inline;
            margin-bottom: -.875em; /*14px / 16px*/
        }
    }

    &__social-item:hover &__social-link::before {
        background: $green;
    }

    &__social-item:hover &__social-text {
        color: $green;
    }

    &__social-link::before {
        content: '';
    
        position: absolute;
        left: -2.375em; /*38px / 16px*/
        bottom: -.1875em; /*3px / 16px*/
       
        width: 1.625em; /*26px / 16px*/
        height: 1.625em; /*26px / 16px*/
    
        border-radius: 50%;
        background-color: $grey;
        opacity: 0.5;
    }
    
    &__social-link--facebook::after {
        content: url("../assets/icons/facebook-icon.svg");
    
        position: absolute;
        left: -1.8125em; /*29px / 16px*/
        bottom: -3%;
    }
    
    &__social-link--twitter::after {
        content: url("../assets/icons/twitter-icon.svg");
    
        position: absolute;
        left: -2em; /*32px / 16px*/
        bottom: -5%;
    }
    
    &__social-link--instagram::after {
        content: url("../assets/icons/instagram-icon.svg");
    
        position: absolute;
        left: -2.0625em; /*33px / 16px*/
        bottom: -8%;
    }
    
    &__social-link--youtube::after {
        content: url("../assets/icons/youtube-icon.svg");
    
        position: absolute;
        left: -2.125em; /*34px / 16px*/
        bottom: -1%;
    }
    
    /*===navigation===*/

    &__nav {
        width: 17.375em; /*278px / 16px*/
        margin: 0;
    
        @include tablet {
            order: 1;
            width: 18.625em; /*298px / 16px*/
        }
    
        @include desktop-small {
            width: 20.75em; /*332px / 16px*/
        }
    }
    
    &__list {
        display: flex;
        justify-content: space-between;
        padding: 0;
    
        list-style: none;
    }
    
    &__item:first-child {
        margin-left: 0;
    }
    
    &__item:last-child {
        margin-right: 0;
    }
    
    &__link {
        @include weigth-size-line-color(400, 1em, 140%, $white);
    }
    
    &__link:hover {
        color: $orange-color;
    }
      
    &__link-active {
        color: $orange-color;
    } 
     
    &__designed {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        width: 14.5em; /*232px / 16px*/
        margin: 0 0 2.5em; /*40px / 16px*/
    
        opacity: 0.8;
    
        @include tablet {
            order: 2;
            margin-bottom: -.0625em; /*1px*/
        }
    }
      
    &__designed > span {
        @include weigth-size-line-color(200, .9375em, 130%, $white); /*15px*/
        
        &:last-child {
            margin-top: .625em; /*40px / 16px*/
        }
    }
}