.header {
	z-index: 4;
	position: relative;
	
	padding: 0 1.25em; /*20px / 16px*/

	background-color: #000000;

	@include desktop-small {
		padding: 0 1.875em; /*30px / 16px*/
	}

	&__container {
		position: relative;
		display: flex;
		justify-content: space-between;
		max-width: 1160px;
		width: 100%;
		height: 100%;
	}

	&__logo {
		position: relative;
		
		margin: 0.143125em 0 0.1675em; /*2.29px / 16px; 2.68px / 16px*/

		width: 2.9375em; /*47px / 16px*/
		height: 1.8125em; /*29px / 16px*/

		@include desktop-small {
			margin: .875em 0; /*14px / 16px*/

			width: 5.125em; /*82px / 16px*/
			height: 3.25em; /*52px / 16px*/
		}
	}

	&__logo--link::before {
		content: '';

		position: absolute;
		top: 46%;
		left: 10%;
			
		width: 0.5625em; /*9px / 16px*/
		height: .875em; /*14px / 16px*/

		background-image: url("../assets/icons/bamboo-logo-icon-small.svg");
		background-repeat: no-repeat;

		@include desktop-small {
			left: 14%;
		
			width: .75em; /*12px / 16px*/
			height: 1.25em; /*20px / 16px*/
		 
			background-image: url("../assets/icons/bamboo-logo-icon.svg");
		}
	}

	&__title {
		box-sizing: border-box;

		padding: 0;
		margin: 0;

		@include weigth-size-line-color(normal, .75em, 120%, #ffffff); /*12px / 16px*/
		text-align: center;

		border: none;

		@include desktop-small {
			padding: 0.221875em 0.296875em; /*3.55px 4.75px*/

			font-size: 1.125em; /*18px / 16px*/
		
			border: 1px solid #ffffff;
			border-radius: .125em; /*2px / 16px*/
		}
	} 

	&__nav {
		display: none;
		max-width: 526px;
		width: 100%;
		margin-left: 11.977186%; /*63px / 526px * 100%*/

		@include desktop-small {
			display: block;
		}
	}
	
	&__list {
		display: flex;
		justify-content: space-between;
		width: 100%;
		margin: 0;
		padding: 0;
	
		list-style: none;
	}
	
	&__item {
		display: flex;
		padding: 1.8125em 0; /*29px / 16px*/
	
		list-style-type: none;

		&:first-child {
			margin-left: 0;
		}

		&:last-child {
			margin-right: 0;
		}
	}
	
	&__link {
		@include weigth-size-line-color(500, 1em, 140%, $white-frosted-color); /*16px*/
	
		text-decoration: none;
		cursor: pointer;
	}
	
	&__link:hover {
		color: $orange-color;
	}
	  
	&__link--active {
		color: $orange-color;
		cursor: default;
	}

	&__burger-menu {
		display: block;

		position: absolute;
		top: 0.6875em; /*11px / 16px*/
		right: 0;
		
		width: 1.125em; /*18px / 16px*/
		height: .125em; /*2px / 16px*/
		
		background: #ffffff;
		border-radius: .125em; /*2px / 16px*/

		@include desktop-small {
			display: none;
		}
	}
	  
	&__burger-menu::after {
		content: "";

		position: absolute;
		top: .5em; /*8px / 16px*/

		width: 1.125em; /*18px / 16px*/
		height: .125em;  /*2px / 16px*/

		background: #ffffff;
		border-radius: .125em;  /*2px / 16px*/
	}
	  
	&__burger-menu::before {
		content: "";

		position: absolute;
		top: .25em; /*4px / 16px*/

		width: 1.125em; /*18px / 16px*/
		height: .125em;  /*2px / 16px*/
	   
		background: #ffffff;
		border-radius: .125em;  /*2px / 16px*/
	}

	// &--open {
	// 	padding: 0;
	// }

	&__nav--open {
		position: absolute;
		width: 100%;
		max-width: 999px;
		padding: 10px 10px 40px;
		margin-left: 0;
		background: #ffffff;
	}

	&__logo--link-open {
		content: url("../assets/images/logo-xm.svg");
		width: 66px;
		height: 42px;
		margin: 0 auto 30px 0;
	}

	&__btn--open {
		z-index: 1;
		position: absolute;
		right: 10px;
		top: 10px;

		width: 32px;
		height: 32px;

		opacity: 0.7;

		&:hover {
			opacity: 1;
		}

		&:before, &:after {
			content: ' ';
	
			position: absolute;
			left: 15px;
			
			height: 20px;
			width: 2px;
	
			background-color: $black-grey;
		}
			
		&:before {
			transform: rotate(45deg);
		}
			
		&:after {
			transform: rotate(-45deg);
		}
	}

	&__list--open {
		flex-direction: column;
	}

	&__item--open {
		padding: 0 0 15px;
		margin-left: 0;

		&:last-child {
			padding-bottom: 0;
		}
	}

	&__link--open {
		margin-left: 0;
		@include weigth-size-line-color(400, 1em, 140%, $black-grey);

		&:hover {
			color: $orange-light;
		}
	}
}