.pets {
	position: relative;
  
	@include tablet {
		padding: 0 1.25em; /*20px / 16px*/
	}

	@include desktop-small {
		padding: 0 1.875em;  /*30px / 16px*/
	}

	&::before {
		content: url("../assets/icons/palm-icon-xm.svg");
	
		position: absolute;
		left: 0;
		bottom: -0.5%;

		@include tablet {
			content: url("../assets/icons/palm-icon-md.svg");
		}

		@include desktop-small {
			content: url("../assets/icons/palm-icon-lg.svg");
		}

		@include desktop {
			content: url("../assets/icons/palm-icon-xl.svg");
		}
	}
	
	&::after {
		content: url("../assets/icons/strelitzia-icon-xm.svg");
		
		z-index: -1;
		position: absolute;
		right: 0;
		bottom: -0.5%;

		@include tablet {
			content: url("../assets/icons/strelitzia-icon-md.svg");
		}

		@include desktop-small {
			content: url("../assets/icons/strelitzia-icon-lg.svg");
		}

		@include desktop {
			content: url("../assets/icons/strelitzia-icon-xl.svg");
		}
	}

	&__container {
		display: flex;
		flex-direction: column;
		align-items: center;
		max-width: 1160px;
		width: 100%;
		height: 100%;
	}

	&__buttons {
		display: none;

		@include tablet {
			z-index: 1;
			position: absolute;
			top: 36%;

			display: flex;
			justify-content: space-between;
			max-width: 154px;
			width: 100%;
		} 

		@include desktop-small {
			top: 34%;
			min-width: 295px;
		}

		@include desktop {
			max-width: 1322px;
			top: 36%;
		}
	}

	&__button {
		position: relative;

		width: 3.875em; /*62px / 16px*/
		height: 3.875em;
	   
		background: $orange-gradient;
		border-radius: 50%;

		@include reset-button-style;

		&::before {
			content: "";

			position: absolute;
			left: 37.1%;
			right: 37.1%;
			top: 43.55%;
			bottom: 43.55%;

			width: 1em;
			height: .5em /*8px / 16px*/
		}

		&:hover {
			transform: scale(1.02);
		}

		&:active {
			background: $green;
		}
	}

	&__button--left::before {
		background: url("../assets/icons/arrow-left.svg");
	}
	
	&__button--right::before {
		background: url("../assets/icons/arrow-right.svg");
	}

	&__cards {
		position: relative;
	
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	
		min-width: 285px;
		width: 89%;
		height: 86.75em; /*1388px / 16px*/

		overflow: hidden;

		@include tablet {
			width: 100%;
			height: 47.25em; /*756px / 16px*/ 
		}

		@include desktop-small {
			height: 50.0625em; /*801px / 16px*/
		}

		@include desktop {
			height: 54.5em; /*872px / 16px*/
		}
	}

	&__card {
		position: relative;

		min-width: 285px;
		max-width: 420px;
		width: 100%;
		height: 20.75em; /*332px / 16px*/
		margin-bottom: 1.25em; /*20px / 16px*/
		margin-left: 0;
	
		border: .125em solid #fe9013; /*2px / 16px*/
		box-sizing: border-box;
		border-radius: .3125em; /*5px / 16px*/
		transition: all .5s ease;
		overflow: hidden;

		@include tablet {
			max-width: 285px;
			width: 100%;
			margin-left: 0;
			margin-right: 0;

			&:first-child {
				margin-bottom: 5.75em; /*92px / 16px*/
			}
		}

		@include desktop-small {
			max-width: 293px;
			height: 22.125em; /*354px / 16px*/
		}

		@include desktop {
			max-width: 366px;
			height: 26.25em; /*420px / 16px*/

			&:first-child {
				margin-bottom: 0;
			}
		}
	}

	&__card-header {
		position: relative;
		width: 100%;
		height: 17.8125em; /*285px / 16px*/
	
		border-radius: .0625em .0625em 0 0; /*1px / 16px*/
		overflow: hidden;

		@include desktop-small {
			height: 18.375em; /*294px / 16px*/
		}

		@include desktop {
			height: 22.875em; /*366px / 16px*/
		}
	}
	
	&__card-image {
		min-width: 285px;
		width: 100%;
		height: auto; 

		transition: all .5s ease;

		border-radius: .3125em .3125em 0 0; /*5px / 16px*/
	}
	
	&__card:hover img {
		transform: scale(1.1);
		transition: all .5s ease;
	}
	
	&__card-hover {
		z-index: 1;
		position: absolute;

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-content: center;

		width: 100%;
		height: 100%;
	   
		background: rgba(0, 0, 0, 0.4);
		opacity: 0;
		
		& > h2 {
			margin-bottom: .3125em; /*5px / 16px*/
		
			@include weigth-size-line-color(400, 1.5em, 130%, $white); /*24px / 16px*/
			text-transform: uppercase;
		}
		
		& > h3 {
			@include weigth-size-line-color(200, 1.375em, 130%, $white); /*22px / 16px*/
			text-align: center;
		}
	}

	&__card:hover .pets__card-hover {
		opacity: 1;
		transition: opacity .5s;
	}

	&__card-body {
		position: relative;
		height: 2.9375em; /*47px / 16px*/
		padding: .375em 0 .625em .75em; /*6px / 16px; 10px / 16px; 12px / 16px*/
		background-color: $white;

		@include desktop-small {
			height: 3.75em; /*60px / 16px*/
		}
	}
	
	&__card-body--herbivorous::after {
		content: url("../assets/icons/herbivorous-icon.svg");
	
		position: absolute;
		top: 8%;
		right: 3%;

		@include desktop-small {
			top: 19%;    
		}

		@include desktop {
			top: 8%;    
		}
	}
	
	&__card-body--carnivorous::after {
		content: url("../assets/icons/carnivorous-icon.svg");
	
		position: absolute;
		top: 0;
		bottom: 0;
		right: 3%;

		@include desktop-small {
			top: 15%;
		}

		@include desktop {
			top: 0;
		}
	}
	
	&__card-title {
		@include weigth-size-line-color(500, .75em, 140%, $black); /*12px / 16px*/
	   
		text-transform: uppercase;

		@include desktop-small {
			@include weigth-size-line-color(500, 1em, 140%, $black);
		}
	}
	
	&__card-subtitle {
		@include weigth-size-line-color(300, .6875em, 120%, $black); /*11px / 16px*/

		@include desktop-small {
			@include weigth-size-line-color(300, .9375em, 120%, $black); /*15px / 16px*/
		}
	}

	.pets__link {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 18.625em; /*298px / 16px*/
		height: 3.375em; /*54px / 16px*/
		margin: 1.25em 0 3.75em; /*20px / 16px; 60px / 16px*/

		background: #fe9013;
		border-radius: 1.5625em; /*25px / 16px*/

		@include tablet {
			margin: 3.75em 0  6.25em; /*60px / 16px; 100px / 16px*/
		}

		@include desktop-small {
			margin: 5em 0 8.75em; /*80px / 16px; 140px / 16px*/
		}

		@include desktop {
			margin: 5em 0 6.25em; /*80px / 16px; 100px / 16px*/
		}

		&:hover {
			transform: scale(1.02);
		}

		&:active {
			background: $green;
		}
	}
	
	.pets__link-btn {
		@include weigth-size-line-color(500, 1em, 140%, $white); /*16px*/
		text-align: center;
		text-transform: uppercase;
 
	}
}