.testimonials {
    position: relative;
    padding: 1.875em 0 3.75em; /*30px / 16px; 60px / 16px*/

    &::after {
        content: url("../assets/icons/leav-icon-xm.svg");
    
        position: absolute;
        right: 0;

        @include tablet {
            content: url("../assets/icons/leav-icon-md.svg");

            bottom: -12%;
        }

        @include desktop-small {
            content: url("../assets/icons/leav-icon-lg.svg");

            bottom: -8%;
        }

        @include desktop {
            content: url("../assets/icons/leav-icon-xl.svg");

            bottom: -12%;
        }
    }

    @include tablet {
        padding: 3.75em 0 5em; /*60px / 16px; 80px / 16px*/
    }

    @include desktop-small {
        padding: 6.25em 0 8.75em; /*100px / 16px; 140px / 16px*/
    }

    @include desktop {
        padding: 8.75em 0 11.25em; /*140px / 16px; 180px / 16px*/
    }

    &__container {
        display: flex;
		flex-direction: column;
        align-items: center;
		max-width: 1160px;
		width: 100%;
		height: 100%; 
    }

    &__title {
        @include weigth-size-line-color(400, 1.5em, 120%, $black-grey); /*24px / 16px*/
        text-align: center;

        @include tablet {
            font-size: 2.25em; /*36px / 16px*/
        }
    }

    &__slider {
        display: flex;
        flex-direction: column;
        min-width: 299px;
        width: 93.43%;
        height: 22.3125em; /*357px / 16px*/
        margin: 1.25em 0 1.875em; /*20px / 16px; 30px / 16px*/

        overflow: hidden;

        @include desktop-small {
            flex-direction: row;
            height: 24.4375em; /*391px / 16px*/
            width: 93.9%;
            margin: 1.875em 0 1.25em; /*30px / 16px; 20px / 16px*/
        }

        @include desktop {
            max-width: 1160px;
		    width: 100%;
            margin: 2.9375em 0 1.25em; /*40px / 16px; 20px / 16px*/
        }
    }

    &__slide-border {
        width: 100%;
        height: 6.8125em; /*109px / 16px*/
        margin-bottom: 1em;
    
        background: $multi-color-gradient;
        border-radius: 1.25em; /*20px / 16px*/

        @include desktop-small {
            width: 31.20%; /*293px / 939px*/
            margin-right: 3.19%; /*300px / 939px*/
            height: 391px;
        }

        @include desktop {
            width: 16.75em; /*268px / 16px*/
            margin-right: 2.5%;
        }
    }

    &__slide {
        min-width: 295px;
        height: 6.4375em; /*103px / 16px*/
        margin: .125em; /*2px / 16px*/
        padding: .625em .75em .75em; /*10px; 12px; 12px*/
       
        background: #f1f3f2;
        border-radius: 1.25em; /*20px / 16px*/

        @include desktop-small {
            min-width: 289px;
            height: 24.1875em; /*387px / 16px*/

            padding: .9375em 1.375em 1.1875em 1em; /*15px 22px 19px 16px*/
        }

        @include desktop {
            min-width: 262px;
		    padding: .9375em .9375em 1.1875em; /*15px 15px 19px*/
        }   
    }

    &__user {
        display: flex;
        margin-bottom: .625em; /*10px / 16px*/
    }

    &__user-info {
        margin-left: 0;
    }
    
    &__user-title {
        @include weigth-size-line-color(400, 1em, 120%, #000000);
    }
    
    &__user-subtitle {
        @include weigth-size-line-color(300, .9375em, 120%, #BDBDBD); /*15px*/
    }
    
    &__user-avatar {
        margin-left: 0;
        margin-right: .625em; /*10px / 16px*/
    }
    
    &__user-avatar--michael {
        content: url("../assets/icons/michael-john-icon.svg");
    }
    
    &__user-avatar--oskar {
        content: url("../assets/icons/oskar-samborsky-icon.svg");
    }
    
    &__user-avatar--fredericka {
        content: url("../assets/icons/fredericka-michelin-icon.svg");
    }
    
    &__user-avatar--mila {
        content: url("../assets/icons/mila-riksha-icon.svg");
    }
    
    &__text {
        display: flex;
        flex-direction: column;
        min-width: 252px;
        height: 2.375em; /*38px / 16px*/
        margin-left: .375em; /*6px / 16px*/
    
        @include weigth-size-line-color(300, .9375em, 120%, #767474); /*15px / 16px*/

        overflow: hidden;

        @include desktop-small {
            height: 20em; /*309px / 15px*/
            width: 100%;
            margin: 1.0625em 1.375em 0 0; /*17px / 16px; 22px / 16px*/
        }

        @include desktop {
            min-width: 237px;
        }
    }
    
    &__user-location::after {
        content: '•';
        margin-left: .3125em; /*5px / 16px*/;
    }

    &__input {
        display: none;
        width: 100%;

        @include desktop-small {
            display: flex;
            justify-content: center;
        }
    }

    input[type="range"] {
        width: 37.4375em; /*599px / 16px*/
        height: .5em; /*8px / 16px*/
        margin: 1.375em 0 2em; /*22px / 16px; 32px / 16px*/
      
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background: #f5f7f6;
        border-radius: .3125em; /*5px / 16px*/;
        border-color: transparent;
        outline: none;
    }
    
    input[type="range"]::-webkit-slider-runnable-track {
        height: .5em; /*8px / 16px*/
    }
    
    input[type="range"]::-webkit-slider-thumb {
        width: 7.25em; /*116px / 16px*/
        height: .5em; /*8px / 16px*/
    
        -webkit-appearance: none;
        background: $orange-light;
        border-radius: .3125em; /*5px / 16px*/;
        border: none;
        cursor: pointer;
    }

    input[type="range"]::-moz-range-thumb {
        width: 7.25em; /*116px / 16px*/
        height: .5em; /*8px / 16px*/
    
        -webkit-appearance: none;
        background: $orange-light;
        border-radius: .3125em; /*5px / 16px*/;
        border: none;
        cursor: pointer;
    }

    &__button {
		display: flex;
        justify-content: center;
		align-items: center;
		width: 15em; /*240px /16px*/
		height: 3.375em; /*54px / 16px*/

		background: $orange-gradient;
		border-radius: .3125em; /*5px / 16px*/
		border: none;

		cursor: pointer;
		outline: none;

		&:hover {
			transform: scale(1.02);
		}

		&:active {
			background: $green;
		}

		@include tablet {
			margin-top: 2.5em; /*40px / 16px*/
		}

        @include desktop-small {
            width: 18.625em; /*298px/ 16px*/
            margin-left: 3%;
        }

        @include desktop {
            margin-left: 0;
        }
	}

	&__button > a {
		@include weigth-size-line-color(500, 1em, 140%, $white);
		text-align: center;
		text-transform: uppercase;
	}    
}